{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "rules": {
    "no-unused-vars": "warn",
    "react/no-unescaped-entities": 0
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ]
}
