@import '../../styles/scss/vars';

.Header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  padding: 1rem 0;
  background-color: lightslategrey;

  @media (min-width: $desktop) {
    padding: 2rem 0;
  }
}

.Nav {
  display: flex;

  a {
    display: block;
    font-size: 1.25rem;
    text-decoration: none;
    text-transform: uppercase;
    color: $color-primary;

    &.active,
    &:hover {
      color: $color-link;
      box-shadow: 0 2px 0 0 lightgoldenrodyellow;
    }

    &:not(:last-of-type) {
      margin-right: 2rem;
    }
  }
}
