@import './fonts';
@import './vars';
@import '~normalize.css';

body {
  background-image: $gradient-primary;
  font-family: $font-primary;
  color: $color-primary;
  overflow-x: hidden;
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  transition: $transition-primary;
}

.container {
  margin: 0 auto;
  padding: 0 1rem;
  max-width: $container;
}

.Content {
  h1,
  h2,
  h3,
  h4 {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1rem;
    color: $color-primary;
    margin-bottom: 1rem;
    line-height: 1.37;
  }

  a {
    color: $color-link;

    &:hover {
      text-decoration: none;
    }
  }

  ul {
    list-style-type: square;
    list-style-position: inside;
  }

  li {
    position: relative;
    font-size: 1rem;
    line-height: 1.37;
    margin-bottom: 0.5rem;

    span,
    strong {
      color: lightcoral;
    }
  }

  .checked-list {
    list-style-type: none;

    li {
      display: flex;
      align-items: center;

      &::before {
        content: '';
        background-image: url(../../assets/icons/check-circle.svg);
        background-repeat: no-repeat;
        background-position: center;
        width: 1rem;
        height: 1rem;
        display: inline-block;
        margin-right: 0.5rem;
      }
    }
  }
}
